.booking-button button
{
    display: flex;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border: 0.5px solid white;
    cursor: pointer;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.477);
    margin: 50vh 10%;
    font-size: 20px;
    align-items: center;
}

.button-icon{
    margin-left: 0.5rem;
}