.apartment-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    transition: 0.5s;
    text-decoration: none;
    color: var(--color-dark);
}

.apartment-container h3{
    margin: 1rem 0;
    font-size: 28px;
}

.apartment-icon{
    margin-right: 0.5rem;
}

.apartment-container p{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.apartment-container img{
    width:100%;
    border-radius: 10px;
}

.apartment-container:hover{
    transform: translateY(-10px);
}
