.navbar-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.navbar-navbar_links
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-navbar_links li{
    list-style: none;
    padding: 0 3rem;
    position: relative;
    font-weight: 700;
}

.navbar-links{
    text-decoration: none;
    font-size: 30px;
    color: var(--color-light);
    font-weight: 700;
    cursor: pointer;

}