.header-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

.header-navbar_links
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-navbar_links li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.header-navbar_links li a{
    text-decoration: none;
    font-size: 1.3rem;
}