.reservation-container iframe{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}
.reservation-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-image: url("/public/img/house.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(25%);
}
.reservation-footer{
    position:relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.back-button{
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.back-button:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 500px){
    .reservation-container iframe{
        width: 100%;
    }
  }