.features-container div:nth-child(2n+1){
    flex-direction: row-reverse;
}

.features-container
{
    display: flex;
    flex-direction: column;
}

.features-container h1{
    text-align: center;
    margin: 3rem 0;
}

.line{
    width: 100%;
    background-color: var(--color-dark);
    height: 5px;
    margin: 3rem 0;
}

.features-icons{
    font-size:30px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}