.footer-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-footer);
    color: var(--color-light);
    margin-top: 2rem;
    padding-bottom:2rem;
}

.footer-container_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5rem;
}

.footer-container_content div h3{
    font-size: 26px;
    margin-bottom: 1rem;
}

.footer-container_content div p,button{
    color: var(--color-grey);
    font-size: 18px;
    background-color: transparent;
    border: none;
    line-height: 32px;
}

.footer-container_content-info{
    display: flex;
    flex-direction: column;
}

.footer-container_content-info{
    width:40%
}

.footer-container_content-contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
    width: 20%;
}

.footer-container_content-contact p{
    display: flex;
    align-items: center;
}

.contact-icon{
    margin-right: 1rem;
}

.footer-container_content-info p:last-child{
    text-align: end;
    margin-top: 1rem;
}

.footer-container_creators{
    width: 100%;
    text-align: center;
    padding: 0 3rem;
}
.footer-container_creators p{
    color: var(--color-grey);
    font-size: 14px;
}

@media screen and (max-width: 1300px){
    .footer-container_content{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-container_content-info{
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-container_content-links{
        width: 50%;
    }
    .footer-container_content-contact{
        width: 50%;
    }
  }

  @media screen and (max-width: 700px){
    .footer-container_content{
        padding: 3rem
    }
    .footer-container_content-links{
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-container_content-contact{
        width: 100%;
    }
    .footer-container_content div p,button{
        font-size: 14px;
        line-height: 24px;
    }
    .footer-container_content div h3{
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .footer-container_creators p{
        font-size: 12px;
    }
    .footer-container_content-contact p{
        margin-bottom: 0.5rem;
    }
  }