.feature-container
{
    display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.evenDiv{
  flex-direction: row-reverse;
}

.evenDiv .feature-container_info{
  border-radius: 0px 20px 20px 0;
}

.oddDiv .feature-container_info{
  border-radius: 20px 0 0 20px;
}

.feature-container_photo
{
    display: flex;
    width: 50%;
    height: 100%;
    order: 2;
}

.feature-container_photo img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.feature-container_info {
    width: 50%;
    word-wrap: break-word;
    background-color: var(--color-feature);
    color: var(--color-light);
    padding: 3rem 0;
    outline: 2px solid var(--color-light);
    outline-offset: -10px;
  }


.feature-container_info h3{
  text-align: center;
    padding: 0.75rem;
}
.feature-container_info p{
    padding: 0 2rem 0.75rem 2rem;
    text-align: justify;
}
  
/* Media query for screens smaller than 800 pixels */
@media (max-width: 700px) {
    .feature-container_photo,
    .feature-container_info {
      width: 100%; /* Set both the photo and info divs to occupy full width */
        
    }
    .feature-container_photo img 
    {
        width: 75%;
        border-radius: 10px;
    }
    .feature-container_photo
    {
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
  }

  @media (max-width: 700px) {
    .feature-container:nth-child(4n+1),
    .feature-container:nth-child(4n+2) {
      flex-direction: column; /* Display text above photo for specific elements */
    }
  }